body {
  margin: 0;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: 1.5em;
  color: #0004ff;
}

@media (min-width: 768px) {
  body {
    font-size: 1.65em;
  }
}

* {
  box-sizing: border-box;
}

/* ============================= Type ============================= */

header {
  margin: 0;
  padding: 15px 10px;
  background-color: #0004ff;
  color: #ffffff;
}

@media (min-width: 768px) {
  header {
    padding: 30px 20px 0 15px;
  }
}

h1 {
  margin: 15px 0;
  text-transform: uppercase;
  font-size: 3.5em;
  line-height: 0.85em;
  letter-spacing: 0.05em;
}

h2 {
  font-family: 'Arvo', serif;
  text-transform: uppercase;
  font-size: 1.5em;
  line-height: 1em;
  letter-spacing: 0.05em;
}

@media (min-width: 768px) {
  h2 {
    font-size: 1.75em;
  }
}

main {
  margin: 0;
}

section {
  padding: 0 10px;
}

@media (min-width: 768px) {
  section {
    padding: 0px 20px;
  }
}

address {
  text-align: center;
  font-style: normal;
  padding: 0 10px;
}

@media (min-width: 768px) {
  address {
    padding: 0px 20px;
  }
}

footer {
  padding: 30px 0 30px 0;
  background-color: #ff8300;
  text-align: center;
}

/*img {  width: 100%; padding: 0; } */

p {
  margin: 10px 0;
  line-height: 1.25em;
}

@media (min-width: 768px) {
  p {
    line-height: 1.4em;
  }
}

/* ============================= Link ============================= */

a {
  text-transform: uppercase;
  color: #ff8300;
  text-decoration: underline;
}

nav a {
  margin: 15px 7.5px;
  text-decoration: none;
  border: #ff8300 2px solid;
  padding: 5px;
}

@media (min-width: 685px) {
  nav a {
    margin: 7.5px;
  }
}

.navi:hover {
  color: #ffffff;
  background-color: #ff8300;
}

.contact:hover {
  color: #0004ff;
}

.back-top:hover {
  color: #ffffff;
  background-color: #0004ff;
}

/* ============================= Class ============================= */

@media (min-width: 685px) {
  .main-header {
    display: flex;
    align-items: end;
    justify-content: space-between;
  }
}

.navigation {
  font-size: 1.05em;
  font-weight: 300;
  padding: 0 0 15px 0;
  display: flex;
  flex-direction: row;
}

@media (min-width: 685px) {
  .navigation {
    font-size: 1em;
  }
}

@media (min-width: 1200px) {
  .navigation {
    font-size: 1.25em;
  }
}

.profile {
  width: 100%;
}

@media (min-width: 768px) {
  .profile {
    height: 400px;
    object-fit: cover;
    object-position: 100% -120px;
  }
}

.intro-text {
  /*border: lightcoral solid 2px;*/
  margin: 30px 0;
}

@media (min-width: 1200px) {
  .intro-skills {
    display: grid;
    row-gap: 15px;
    grid-template-columns: repeat(2, 1fr);
  }
}

.my-skills {
  /*border: lightcoral solid 2px;*/
  background-color: #0004ff;
  color: #ffffff;
  padding: 15px 10px;
}

@media (min-width: 768px) {
  .my-skills {
    padding: 5px 20px 15px 20px;
  }
}

.skill-list {
  list-style-type: none;
  padding: 0;
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(2, 1fr);
  font-size: 0.9em;
  align-items: baseline;
}

@media (min-width: 768px) {
  .skill-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

.skill {
  border-bottom: #ffffff solid 0.5px;
  padding-bottom: 5px;
  align-self: end;
}

.extras-line {
  padding-top: 30px;
}

.phone {
  margin: 5px 0;
}

.mail {
  margin: 5px 0;
  border-bottom: #0004ff solid 2px;
  padding: 0 0 30px 0;
}

@media (min-width: 768px) {
  .mail {
    padding: 0 0 45px 0;
  }
}

.social-links {
  /*border: lightcoral solid 2px;*/
  padding: 25px 0 20px 0;
}

@media (min-width: 480px) {
  .social-links {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
  }
}

.logo {
  /*border: yellow solid 2px;*/
  width: 100%;
  padding: 10px 60px;
}

@media (min-width: 480px) {
  .logo {
    padding: 0 15px 15px 15px;
  }
}

.my-bio {
  /*border: lightcoral solid 2px;*/
  padding: 15px 0 0 0;
  background-color: #0004ff;
  color: #ffffff;
}

.bio-part1 {
  margin: 0 0 30px 0;
}

.bio-part2 {
  padding: 15px 10px;
  background-color: #ffffff;
  color: #0004ff;
}
@media (min-width: 768px) {
  .bio-part2 {
    padding: 5px 20px 15px 20px;
  }
}

.resume-list {
  list-style-type: none;
  padding: 0;
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(1, 1fr 2fr);
  align-items: baseline;
  font-size: 0.9em;
}

@media (min-width: 768px) {
  .resume-list {
    grid-template-columns: repeat(2, 2fr 3fr);
  }
}

.resume-item {
  border-bottom: #0004ff solid 0.5px;
  padding-bottom: 5px;
  align-self: end;
}

.company {
  color: #787aeb;
  font-size: 0.6em;
  text-transform: uppercase;
}

.back-top {
  font-size: 1.05em;
  font-weight: 300;
  text-decoration: none;
  border: #0004ff 2px solid;
  color: #0004ff;
  padding: 5px;
}

@media (min-width: 685px) {
  .back-top {
    font-size: 1em;
  }
}

@media (min-width: 1200px) {
  .back-top {
    font-size: 1.25em;
  }
}

/* */
