body {
  margin: 0;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: 1.5em;
  color: #0004ff;
}

* {
  box-sizing: border-box;
}

/* ============================= Type ============================= */

header {
  margin: 0;
  padding: 10px 10px;
  background-color: #0004ff;
  color: #ffffff;
}

h1 {
  margin: 15px 0;
  text-transform: uppercase;
  font-size: 3.5em;
  line-height: 0.85em;
  letter-spacing: 0.05em;
}

h2 {
  font-family: 'Arvo', serif;
  text-transform: uppercase;
  font-size: 1.5em;
  line-height: 1em;
  letter-spacing: 0.05em;
}

main {
  margin: 0;
}

section {
  padding: 0 10px;
}

address {
  padding: 0 10px;
  text-align: center;
  font-style: normal;
}

footer {
  padding: 15px 0;
  background-color: #0004ff;
  text-align: center;
}

img {
  width: 100%;
  padding: 0;
}

p {
  margin: 10px 0;
  line-height: 1.25em;
}

/* ============================= Link ============================= */

a {
  text-transform: uppercase;
  color: #ff8300;
  text-decoration: underline;
}

.navi:hover {
  color: #ffffff;
}

.contact:hover {
  color: #0004ff;
}

.back-top:hover {
  color: #ffffff;
}

/* ============================= Class ============================= */

.navigation {
  font-size: 1.25em;
  font-weight: 300;
  padding: 0 0 15px 0;
  display: grid;
  grid-gap: 15px;
  grid-template-columns: 1fr 1fr;
  justify-content: space-around;
}

.intro {
  /*border: lightcoral solid 2px;*/
  margin: 30px 0;
}

.my-skills {
  /*border: lightcoral solid 2px;*/
  background-color: #0004ff;
  color: #ffffff;
  padding: 15px 10px;
}

.skill-list {
  list-style-type: none;
  padding: 0;
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(2, 1fr);
  font-size: 0.9em;
  align-items: baseline;
}

.skill {
  border-bottom: #ffffff solid 0.5px;
  padding-bottom: 5px;
  align-self: end;
}

.extras-line {
  padding-top: 30px;
}

.phone {
  margin: 5px 0;
}

.mail {
  margin: 5px 0;
}

.social-links {
  /*border: lightcoral solid 2px;*/
  padding: 25px 0 20px 0;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  justify-items: start;
}

.logo {
  /*border: yellow solid 2px;*/
  padding: 10px 60px;
}

.my-bio {
  /*border: lightcoral solid 2px;*/
  padding: 15px 0px;
  background-color: #0004ff;
  color: #ffffff;
}

.bio-part1 {
  margin: 0 0 30px 0;
}

.bio-part2 {
  padding: 15px 10px;
  background-color: #ffffff;
  color: #0004ff;
}

.resume-list {
  list-style-type: none;
  padding: 0;
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(1, 1fr 2fr);
  align-items: baseline;
  font-size: 0.9em;
}

.resume-item {
  border-bottom: #0004ff solid 0.5px;
  padding-bottom: 5px;
  align-self: end;
}

.company {
  color: #787aeb;
  font-size: 0.6em;
}

/* */
