body {
    margin: 0;
    width: 100%;
    font-family: sans-serif;
}

* {
    box-sizing: border-box;
}

header {
    margin: 0;
}

img {
    width: 100%;
}

main {
    display: grid;
    grid-gap: 30px;
}

.intro {
    border: lightcoral solid 2px;
}

.my-skills {
    border: lightcoral solid 2px;
}

.web-dev {
    background-color: lightseagreen;
}

.web-dev-head {
    border: yellow solid 2px;
}

.art-dir {
    background-color: lightseagreen;
}

.art-dir-head {
    border: yellow solid 2px;
}

address {
    border: lightcoral solid 2px;
}

.social-links {
    border: lightcoral solid 2px;
}

.logo-cards {
    background-color: lightseagreen;
}

.logo {
    border: yellow solid 2px;
}

.my-bio {
    border: lightcoral solid 2px;
}

.resume {
    background-color: lightseagreen;
}

.resume-head {
    border: yellow solid 2px;
}

footer {
    border: lightcoral solid 2px;  
}