.contact::before {
  display: block;
  height: 22px;
  content: '';
}

.contact__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4px 8px;
  padding: 0 24px 16px;
  font-family: 'Roboto Mono', sans-serif;
  font-size: 0.9rem;
  font-weight: 700;
}

.contact__logo {
  width: 20px;
  padding-right: 4px;
}

.contact__logo-github {
  position: relative;
  top: 2px;
}

.contact__logo-xing {
  position: relative;
  top: 2px;
}

.contact__logo-linkedin {
  position: relative;
  top: 1px;
}

.contact__logo-mail {
  position: relative;
  top: 3px;
}

.contact__underline::after {
  left: 22px;
  width: 10%;
}

.contact__underline:hover::after {
  width: 34%;
}

@media (min-width: 590px) {
  .contact__list {
    gap: 4px 12px;
    padding: 0 32px 20px;
    font-size: 1.1rem;
  }

  .contact__logo {
    width: 24px;
    padding-right: 4px;
  }

  .contact__logo-xing {
    top: 2.5px;
  }

  .contact__logo-linkedin {
    top: 1.5px;
  }

  .contact__underline::after {
    left: 26px;
    width: 8%;
  }

  .contact__underline:hover::after {
    width: 26%;
  }
}

@media (min-width: 760px) {
  .contact__list {
    gap: 6px 18px;
    padding: 0 60px 20px;
    font-size: 1.2rem;
  }

  .contact__logo {
    width: 28px;
    padding-right: 8px;
  }

  .contact__logo-xing {
    top: 3px;
  }

  .contact__logo-linkedin {
    top: 2px;
  }

  .contact__underline::after {
    left: 30px;
    width: 12%;
  }

  .contact__underline:hover::after {
    width: 24%;
  }
}

@media (min-width: 950px) {
  .contact__list {
    gap: 6px 18px;
    padding: 0 90px 20px;
    font-size: 1.4rem;
  }

  .contact__logo {
    width: 28px;
    padding-right: 6px;
  }

  .contact__logo-github {
    top: 1px;
  }

  .contact__logo-linkedin {
    top: 1px;
  }

  .contact__underline::after {
    left: 32px;
    width: 8%;
  }

  .contact__underline:hover::after {
    width: 20%;
  }
}

@media (min-width: 950px) {
  .contact__list {
    gap: 10px 20px;
    padding: 0 120px 20px;
  }
}

@media (min-width: 950px) {
  .contact__list {
    padding: 0 180px 20px;
  }
}
