.doodles-right {
  position: relative;
  top: -100px;
  float: right;
  width: 30%;
  padding-right: 24px;
}

.doodles-left {
  position: relative;
  top: 74px;
  float: left;
  width: 30%;
  padding-left: 24px;
}

@media (min-width: 590px) {
  .doodles-right {
    top: -180px;
    width: 30%;
    padding-right: 36px;
  }

  .doodles-left {
    top: 80px;
    width: 30%;
    padding-left: 48px;
  }
}

@media (min-width: 760px) {
  .doodles-right {
    top: -170px;
    width: 35%;
    padding-right: 84px;
  }

  .doodles-left {
    top: 72px;
    width: 30%;
    padding-left: 60px;
  }
}

@media (min-width: 950px) {
  .doodles-right {
    top: -280px;
    width: 30%;
    padding-right: 124px;
  }

  .doodles-left {
    top: 50px;
    width: 30%;
    padding-left: 90px;
  }
}
