.doodle-container {
  position: relative;
}

.doodle-right {
  position: relative;
  float: right;
  top: 40vw;
  right: 8vw;
  width: 30%;
  padding: 0 8vw;
}

.doodle-left {
  position: relative;
  float: left;
  top: 4vw;
  left: 8vw;
  width: 30%;
  padding-right: 10vw;
}

.doodle-layer {
  position: absolute;
}

.doodle-animate-1 {
  animation: doodle-animate-1 6s infinite ease-in-out;
  animation-fill-mode: forwards;
}

.doodle-animate-2 {
  animation: doodle-animate-2 6s infinite ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes doodle-animate-1 {
  40% {
    transform: translateY(6px);
  }
}

@keyframes doodle-animate-2 {
  60% {
    transform: translateY(8px);
  }
}
