.header-fixed {
  z-index: 150;
  position: fixed;
  width: 100%;
}

.header__background {
  height: 100px;
  background-image: url(../assets/header.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.header__headline {
  padding: 16px 24px;
  font-family: 'Roboto Mono', sans-serif;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.6rem;
  text-transform: lowercase;
}

@media (min-width: 590px) {
  .header__background {
    height: 164px;
  }

  .header__headline {
    padding: 20px 32px;
    font-size: 3.3rem;
    line-height: 2.3rem;
  }
}

@media (min-width: 760px) {
  .header__background {
    background-image: url(../assets/header-760.svg);
  }

  .header__headline {
    padding: 26px 58px;
  }
}
