.header-fixed {
  z-index: 150;
  position: fixed;
  width: 100%;
}

.header__background {
  height: 100px;
  background-image: url(../assets/header.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.header__headline {
  padding: 16px 24px;
  font-family: 'Roboto Mono', sans-serif;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.6rem;
  text-transform: lowercase;
}

@media (min-width: 590px) {
  .header__background {
    height: 164px;
  }

  .header__headline {
    padding: 20px 32px;
    font-size: 3.3rem;
    line-height: 2.4rem;
  }
}

@media (min-width: 760px) {
  .header__background {
    background-image: url(../assets/header-760.svg);
  }

  .header__headline {
    padding: 26px 58px;
  }
}

@media (min-width: 950px) {
  .header__background {
    height: 20vw;
    max-height: 180px;
    background-image: url(../assets/header-950.svg);
  }

  .header__headline {
    padding: 32px 86px;
    font-size: 3.5rem;
    line-height: 2.7rem;
  }
}

@media (min-width: 1022px) {
  .header__headline {
    padding: 32px 118px;
    font-size: 3.8rem;
    line-height: 3rem;
  }
}

@media (min-width: 1200px) {
  .header__background {
    max-height: 210px;
    background-image: url(../assets/header-950.svg);
  }

  .header__headline {
    padding: 56px 178px;
    font-size: 4.4rem;
    line-height: 3.4rem;
  }
}
