.intro__subline {
  display: block;
  padding-bottom: 8px;
}

.intro__portrait-container {
  position: relative;
  top: 8px;
}

.intro__portrait {
  z-index: 50;
  position: relative;
  float: left;
  width: 30%;
  padding-left: 8vw;
}

.intro__portrait-doodle1 {
  z-index: 100;
  position: absolute;
  top: 0;
  left: 9vw;
  width: 6%;
  animation: animate-doodle1 6s infinite ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes animate-doodle1 {
  50% {
    transform: rotate(-4deg);
  }
}

.intro__portrait-doodle2 {
  z-index: 100;
  position: absolute;
  top: 19vw;
  left: 12vw;
  width: 10%;
  animation: animate-doodle2 6s infinite ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes animate-doodle2 {
  40% {
    transform: rotate(-4deg) scale(1.05);
  }
}

.intro__portrait-doodle3 {
  position: absolute;
  top: 1vw;
  left: 4vw;
  width: 26%;
  animation: animate-doodle3 12s infinite ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes animate-doodle3 {
  50% {
    transform: rotate(12deg) scale(1.1);
  }
}
