.intro::before {
  display: block;
  height: 122px;
  content: '';
}

.intro__subline {
  display: block;
  padding-bottom: 8px;
}

.intro__portrait-container {
  position: relative;
  top: 12px;
}

.intro__portrait {
  position: relative;
  z-index: 50;
  float: left;
  width: 30%;
  padding-left: 24px;
}

.intro__portrait-doodle1 {
  position: absolute;
  z-index: 100;
  top: 0;
  left: 30px;
  width: 7%;
}

.intro__portrait-doodle2 {
  position: absolute;
  z-index: 100;
  top: 82px;
  left: 36px;
  width: 10%;
}

.intro__portrait-doodle3 {
  position: absolute;
  top: 6px;
  left: 12px;
  width: 28%;
}

@media (min-width: 590px) {
  .intro::before {
    height: 186px;
  }

  .intro__portrait-container {
    top: 4px;
  }

  .intro__portrait {
    padding-left: 36px;
    width: 26%;
  }

  .intro__portrait-doodle1 {
    left: 44px;
    width: 6%;
  }

  .intro__portrait-doodle2 {
    top: 124px;
    left: 50px;
    width: 8%;
  }

  .intro__portrait-doodle3 {
    top: 6px;
    left: 22px;
    width: 24%;
  }
}

@media (min-width: 760px) {
  .intro__portrait-container {
    top: 8px;
  }

  .intro__portrait {
    padding-left: 100px;
    width: 35%;
  }

  .intro__portrait-doodle1 {
    left: 120px;
  }

  .intro__portrait-doodle2 {
    top: 150px;
    left: 108px;
    width: 8%;
  }

  .intro__portrait-doodle3 {
    top: 12px;
    left: 72px;
    width: 28%;
  }
}
