.navigation-fixed {
  z-index: 150;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.navigation__background {
  height: 56px;
  background-image: url(../assets/navigation.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.navigation__grid {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  padding: 0 24px;
}

.navigation__link {
  font-family: 'Roboto Mono', sans-serif;
  font-size: 0.9rem;
  font-weight: 700;
}

.navigation__link-text {
  z-index: 200;
  position: relative;
}

.navigation__underline::after {
  z-index: 150;
  width: 8%;
  background: var(--white);
}

.navigation__underline:hover::after {
  width: 22%;
}

@media (min-width: 590px) {
  .navigation__grid {
    padding: 0 36px;
  }

  .navigation__background {
    height: 72px;
  }

  .navigation__link {
    font-size: 1.1rem;
  }

  .navigation__underline::after {
    width: 5%;
  }

  .navigation__underline:hover::after {
    width: 16%;
  }
}

@media (min-width: 760px) {
  .navigation__grid {
    padding: 0 60px;
  }

  .navigation__link {
    font-size: 1.2rem;
  }

  .navigation__underline::after {
    width: 4%;
  }

  .navigation__underline:hover::after {
    width: 14%;
  }
}

@media (min-width: 950px) {
  .navigation__grid {
    padding: 0 90px;
  }

  .navigation__link {
    font-size: 1.4rem;
  }

  .navigation__underline::after {
    width: 2%;
  }

  .navigation__underline:hover::after {
    width: 8%;
  }
}
