.projects::before {
  display: block;
  height: 22px;
  content: '';
}

.projects::after {
  display: block;
  height: 78px;
  content: '';
}

.projects__resonance-link {
  font-weight: 700;
}

.projects__resonance-image-container {
  position: relative;
  padding: 8px 0 22px;
}

.projects__resonance-image {
  position: relative;
  z-index: 50;
  width: 100vw;
}

.projects__resonance-doodle1 {
  position: absolute;
  top: 0;
  left: 12px;
  width: 72%;
}

.projects__resonance-doodle2 {
  position: absolute;
  top: 48px;
  left: 18px;
  width: 60%;
}
