@import './base.css';

/* ========================================================== Type ============================= */

/* ============================= Header ============================= */

header {
  margin: 0;
  padding: 15px 10px;
  background-color: #0004ff;
  color: #ffffff;
}

@media (min-width: 768px) {
  header {
    padding: 30px 20px 0 15px;
  }
}

@media (min-width: 1000px) {
  header {
    padding: 45px 20px 15px 20px;
  }
}
@media (min-width: 1440px) {
  header {
    padding: 50px 30px 15px 30px;
  }
}

/* ============================= h1 ============================= */

h1 {
  margin: 15px 0;
  text-transform: uppercase;
  font-size: 3.5em;
  line-height: 0.85em;
  letter-spacing: 0.05em;
}

@media (min-width: 1200px) {
  h1 {
    font-size: 3.75em;
  }
}
@media (min-width: 1650px) {
  h1 {
    font-size: 3.85em;
  }
}

/* ============================= h2 ============================= */

h2 {
  font-family: 'Arvo', serif;
  text-transform: uppercase;
  font-size: 1.5em;
  line-height: 1em;
  letter-spacing: 0.05em;
}

@media (min-width: 768px) {
  h2 {
    font-size: 1.75em;
  }
}

@media (min-width: 1000px) {
  h2 {
    font-size: 1.85em;
  }
}

@media (min-width: 1650px) {
  h2 {
    font-size: 2em;
  }
}

/* ============================= main ============================= */

main {
  margin: 0;
}

/* ============================= section ============================= */

section {
  padding: 0 10px;
}

@media (min-width: 768px) {
  section {
    padding: 0px 20px;
  }
}

@media (min-width: 1440px) {
  section {
    padding: 0px 30px;
  }
}

/* ============================= address ============================= */

address {
  text-align: center;
  font-style: normal;
  padding: 0 10px;
}

@media (min-width: 768px) {
  address {
    padding: 0px 20px;
  }
}

@media (min-width: 1440px) {
  address {
    padding: 0px 30px;
  }
}

/* ============================= footer ============================= */

footer {
  padding: 30px 0 30px 0;
  background-color: #ff8300;
  text-align: center;
}
@media (min-width: 1000px) {
  footer {
    padding: 60px 0 45px 0;
  }
}

/* ============================= p ============================= */

p {
  margin: 10px 0;
  line-height: 1.25em;
}

@media (min-width: 768px) {
  p {
    line-height: 1.4em;
  }
}

/* ========================================================== link ============================= */

a {
  text-transform: uppercase;
  color: #ff8300;
  text-decoration: underline;
}

nav a {
  margin: 15px 7.5px;
  text-decoration: none;
  border: #ff8300 4px solid;
  padding: 5px 7.5px;
}

@media (min-width: 660px) {
  nav a {
    margin: 7.5px;
  }
}

@media (min-width: 685px) {
  nav a {
    margin: 7.5px;
  }
}

@media (min-width: 1000px) {
  nav a {
    margin: 7.5px 12.5px;
  }
}

/* ============================= hover ============================= */

.navi:hover {
  color: #ffffff;
  background-color: #ff8300;
}

.contact:hover {
  color: #0004ff;
}

.back-top:hover {
  color: #ffffff;
  background-color: #0004ff;
}

/* ========================================================== class ============================= */

/* ============================= main-header ============================= */

@media (min-width: 660px) {
  .main-header {
    display: flex;
    align-items: end;
    justify-content: space-between;
  }
}

/* ============================= navigation ============================= */

.navigation {
  font-size: 1.05em;
  font-weight: 300;
  padding: 0 0 15px 0;
  display: flex;
  flex-direction: row;
}

@media (min-width: 660px) {
  .navigation {
    font-size: 0.85em;
  }
}

@media (min-width: 685px) {
  .navigation {
    font-size: 1em;
  }
}

@media (min-width: 1200px) {
  .navigation {
    font-size: 1.25em;
  }
}
@media (min-width: 1650px) {
  .navigation {
    font-size: 1.35em;
  }
}

/* ============================= profile ============================= */

.profile {
  width: 100%;
}

@media (min-width: 660px) {
  .profile {
    height: 300px;
    object-fit: cover;
    object-position: 100% -120px;
  }
}

@media (min-width: 768px) {
  .profile {
    height: 400px;
    object-fit: cover;
    object-position: 100% -120px;
  }
}

@media (min-width: 1000px) {
  .profile {
    height: 400px;
    object-fit: cover;
    object-position: 100% -140px;
  }
}

@media (min-width: 1200px) {
  .profile {
    height: 425px;
    object-fit: cover;
    object-position: center;
  }
}

@media (min-width: 1440px) {
  .profile {
    height: 450px;
    object-fit: cover;
    object-position: center;
  }
}

@media (min-width: 1530px) {
  .profile {
    height: 500px;
    object-fit: cover;
    object-position: center;
  }
}

@media (min-width: 1650px) {
  .profile {
    height: 550px;
    object-fit: cover;
    object-position: center;
  }
}
@media (min-width: 1820px) {
  .profile {
    height: 600px;
    object-fit: cover;
    object-position: center;
  }
}
@media (min-width: 1820px) {
  .profile {
    height: 650px;
    object-fit: cover;
    object-position: center;
  }
}

/* ============================= intro-text ============================= */

.intro-text {
  /*border: lightcoral solid 2px;*/
  margin: 30px 0;
}

/* ============================= intro-skills ============================= */

@media (min-width: 1200px) {
  .intro-skills {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 60px;
  }
  .intro-text {
    grid-column-start: 1;
    grid-row-end: 3;
  }
}

@media (min-width: 1440px) {
  .intro-skills {
    margin-bottom: 85px;
  }
}

@media (min-width: 1650px) {
  .intro-skills {
    margin-bottom: 100px;
  }
}

/* ============================= my-skills ============================= */

.my-skills {
  /*border: lightcoral solid 2px;*/
  background-color: #0004ff;
  color: #ffffff;
  padding: 15px 10px;
}

@media (min-width: 768px) {
  .my-skills {
    padding: 5px 20px 15px 20px;
  }
}

@media (min-width: 1200px) {
  .my-skills {
    grid-column-start: 2;
    grid-row-end: span 2;
    padding: 15px 20px;
  }
}

@media (min-width: 1440px) {
  .my-skills {
    padding: 15px 30px;
  }
}

/* ============================= skill-list ============================= */

.skill-list {
  list-style-type: none;
  padding: 0;
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(2, 1fr);
  font-size: 0.9em;
  align-items: baseline;
}

@media (min-width: 768px) {
  .skill-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1000px) {
  .skill-list {
    grid-template-columns: repeat(2, 1fr);
    font-size: 0.95em;
  }
}

@media (min-width: 1650px) {
  .skill-list {
    grid-template-columns: repeat(2, 1fr);
    font-size: 1.1em;
  }
}

/* ============================= skill ============================= */

.skill {
  border-bottom: #ffffff solid 0.5px;
  padding-bottom: 5px;
  align-self: end;
}

/* ============================= extras-line ============================= */

.extras-line {
  padding-top: 30px;
}

/* ============================= phone/mail/contact-box ============================= */

.phone {
  margin: 5px 0;
}

.mail {
  margin: 5px 0;
  padding: 0 0 30px 0;
}

.contact-box {
  border-bottom: #0004ff 2.5px solid;
}

@media (min-width: 768px) {
  .mail {
    padding: 0 0 45px 0;
  }
}

@media (min-width: 1200px) {
  .mail {
    padding: 0 0 80px 0;
  }
}

@media (min-width: 1200px) {
  .contact-box {
    display: flex;
    justify-content: center;
    border-bottom: #0004ff 5px solid;
  }

  .phone {
    margin: 5px 60px 0px 60px;
  }

  .mail {
    margin: 5px 60px 0px 60px;
  }
}

/* ============================= social-links ============================= */

.social-links {
  /*border: lightcoral solid 2px;*/
  padding: 25px 0 20px 0;
}

@media (min-width: 480px) {
  .social-links {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
  }
}

@media (min-width: 1200px) {
  .social-links {
    padding: 25px 45px 20px 45px;
  }
}

@media (min-width: 1530px) {
  .social-links {
    padding: 40px 100px 35px 100px;
  }
}

@media (min-width: 1650px) {
  .social-links {
    padding: 45px 120px 55px 120px;
  }
}

@media (min-width: 1920px) {
  .social-links {
    padding: 65px 145px 80px 145px;
  }
}

/* ============================= logo ============================= */

.logo {
  /*border: yellow solid 2px;*/
  width: 100%;
  padding: 10px 60px;
}

@media (min-width: 480px) {
  .logo {
    padding: 0 15px 15px 15px;
  }

  .xing-logo {
    position: relative;
    top: -5px;
  }
}

@media (min-width: 768px) {
  .xing-logo {
    position: relative;
    top: -10px;
  }
}

@media (min-width: 1440px) {
  .xing-logo {
    position: relative;
    top: -15px;
  }
}

/* ============================= my-bio ============================= */

.my-bio {
  /*border: lightcoral solid 2px;*/
  padding: 15px 0 0 0;
  background-color: #0004ff;
  color: #ffffff;
}

@media (min-width: 1200px) {
  .my-bio {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0;
    margin-top: 30px;
  }
}

/* ============================= bio-part1/bio-part2 ============================= */

.bio-part1 {
  margin: 0 0 30px 0;
}

.bio-part2 {
  padding: 15px 10px;
  background-color: #ffffff;
  color: #0004ff;
}

@media (min-width: 768px) {
  .bio-part2 {
    padding: 5px 20px 15px 20px;
  }
}
@media (min-width: 1440px) {
  .bio-part2 {
    padding: 5px 30px 15px 30px;
  }
}

/* ============================= resume-list ============================= */

.resume-list {
  list-style-type: none;
  padding: 0;
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(1, 1fr 2fr);
  align-items: baseline;
  font-size: 0.9em;
}

@media (min-width: 768px) {
  .resume-list {
    grid-template-columns: repeat(2, 2fr 3fr);
    grid-template-rows: repeat(3, 1fr);
    grid-auto-flow: row;
  }
}

@media (min-width: 1000px) {
  .resume-list {
    grid-template-columns: repeat(1, 2fr 3fr);
    font-size: 0.95em;
  }
}

@media (min-width: 1650px) {
  .resume-list {
    font-size: 1.1em;
  }
}

/* ============================= resume-item ============================= */

.resume-item {
  border-bottom: #0004ff solid 0.5px;
  padding-bottom: 5px;
  align-self: end;
}

@media (min-width: 768px) {
  .res-it-3 {
    grid-column-start: 1;
    grid-row-end: 3;
  }
  .res-it-4 {
    grid-column-start: 2;
    grid-row-end: 3;
  }

  .res-it-5 {
    grid-column-start: 1;
    grid-row-end: 4;
  }

  .res-it-6 {
    grid-column-start: 2;
    grid-row-end: 4;
  }
}

/* ============================= company ============================= */

.company {
  color: #787aeb;
  font-size: 0.6em;
  text-transform: uppercase;
}

/* ============================= back-top ============================= */

.back-top {
  font-size: 1.05em;
  font-weight: 300;
  text-decoration: none;
  border: #0004ff 4px solid;
  color: #0004ff;
  padding: 5px 7.5px;
}

@media (min-width: 685px) {
  .back-top {
    font-size: 1em;
  }
}

@media (min-width: 1200px) {
  .back-top {
    font-size: 1.25em;
  }
}

@media (min-width: 1650px) {
  .back-top {
    font-size: 1.35em;
  }
}

/* */
