.block-left {
  width: 70%;
  margin-left: 0;
  margin-right: auto;
}

.block-right {
  width: 70%;
  margin-left: auto;
  margin-right: 0;
}

.continuous-text {
  padding: 0 24px 16px;
  line-height: 1.4rem;
  letter-spacing: 0.03rem;
}
